
@media only screen
and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait),
only screen
and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) {

    .button-nav {
        margin-top: 15% !important;
    }

    .contact-textarea {
        height: 180px;
        padding-left: 10px;
    }

    .contact-us-text{
        font-size: 1.3em;
    }
}



