body {
    background-image: url("../images/background.png");
    background-size:     cover;
    background-position: center center;
    background-color: black;
    padding-bottom: 60px;
}

.container {
    text-align: center;
}

.footer {
    width: 100%;
    height: 60px;
}

.menu-text {
    color: white;
}

.menu-text button{
    background-color: black;
    border: none;
}

.menu-text a {
    color: white;
}

.button-nav {
    margin-top : 3%;
}

.main-section {
    z-index: 1;
}


.main-section, .contact-overlay {
    margin-top:10%;
}

.contact-overlay{
    background: url("../images/contactBanner.png");
    display: none;
    z-index: 2;
}

.contact-input {
    height: 50px;
    padding-left: 10px;
}

.contact-input, .contact-textarea {
    width: 100%;
}

.contact-textarea {
    height: 240px;
    padding-left: 10px;
}

.top-margined{
    margin-top: 10px;
}

.contact-input-label {
    color: white;
    float: left;
}

.contact-send-button{
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
}

.btn, .btn-primary {
    background-color: #191a19;
    border: none;
}

.btn-primary:hover {
    background-color: #444444;
    border: none;
}
.close-contact-button{
    border-radius: 25px;
    border: 1px solid white;
    background-color: white;
    float: right;
}

#closeContactButton {
    float: right;
}

.language-selector, .language-selector a{
    margin-top: 1%;
    color: white;
}

.button-nav a {
    font-family: Montserrat;
    font-size: 20px;
    margin-top: 10%;
}

.contact-form {
    margin-top: 3%;
}



