
.productContainer {
    background-color: black;
    width: 100%;
    height: 320px;
}


/* remove spacing between columns */
.row.no-gutter [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.productTextContainer{
    background-color: black;
    width: 100%;
    text-align: center;
}

.productTextContainer h2 {
    color: #21e418;
}

.productTextContainer .row {
    text-align: center;
}

.purple-circle {
    background-color: #690185;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    float: none;
    margin: 0 auto;
}

.dark-gray-area {
    background-color: #171717;
    width: 100%;
    text-align: center;
}

.black-area{
    background-color: black;
}

.top-margined {
    margin-top: 10px;
}

.white-paragraph-text{
    color: white;
}

.green-paragraph-text{
    color: #21e418;
}

.top-bottom-margined {
    margin-top: 10px;
    margin-bottom: 10px;
}

.details-footer {
    background-color: #1b1b1b;
}

.purple-paragraph-text{
    color: #690185;
}

.emailSpace p {
    float: left;
    margin-left: 3px;
}

.address-location p {
    margin-top: 0px;
    margin-top: 0px;
    margin: 0;
    color: #4f4f4f;
}

.hidden {
    display: none;
}


.blue-banner {
    background: linear-gradient(45deg,#0581c0,#76dced);
}

.left-floated {
    float: right;
}

.character-banner {
    margin-left: 3%;
    margin-right: 3%;
}

.character-banner {
    text-align: left;
}

.gray-banner {
    background: linear-gradient(45deg,#a2a2a2,#c9c9c9);
}

.gray-banner img {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 20%;
}

.purple-banner {
    background: linear-gradient(45deg,#524ec4,#673ab3);
}

.purple-banner img {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: -15%;
}

.cat-banner {
    margin-left: -25%;
}

.navigation-button {
    background-color: lightgray;
}

.next-button {
    float: left;
}

.nav-arrows a, .nav-arrows img {
    float: left;
    height: 50px;
}

.sb-slider {
    margin:0;
}

.slider-container {
    padding: 0;
    margin: 0;
}
